{% extends 'base.html.twig' %}

{% block content %}
    <div class="container new-job">
        <h1>Create new Job offer</h1>

        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="form[title]" placeholder="PHP Programmer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="employer" class="col-sm-2 control-label">Employer</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="employer" name="form[employer]" placeholder="e.g. Google Inc.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jobDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea id="jobDescription" class="form-control" name="form[description]" rows="20" placeholder="Requirements, Social Package, Salary"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jobType" class="col-sm-2 control-label">Job type</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="jobType" name="form[type]" placeholder="e.g. PHP">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attachment" class="col-sm-2 control-label">Attachment</label>
                        <div class="col-sm-10">
                            <input type="file" id="attachment" name="form[attachment] class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attachmentName" class="col-sm-2 control-label">Attachment Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="form[attachmentName]" id="attachmentName" placeholder="e.g. Resume">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a href="{{ path("listJobs") }}" class="btn btn-link">Go back to list</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
